<div class="status-container">
    <span class="connection-status-header">Upcoming jobs</span>
    <table>
        <tbody>
        <tr *ngFor="let job of paginatedJobs">
            <th>{{ job.name }}</th>
            <td>
                {{ getFormattedDate(job.next_run_time) }}
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination Controls -->
    <div class="pagination">
        <button mat-button
                [disabled]="currentPage === 1"
                (click)="changePage(currentPage - 1)">
            Previous
        </button>

        <span>Page {{ currentPage }} of {{ totalPages }}</span>

        <button mat-button
                [disabled]="currentPage === totalPages"
                (click)="changePage(currentPage + 1)">
            Next
        </button>
    </div>
</div>