.status-container {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*margin: 20px;*/
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.connected {
    color: var(--app-success-light);
}

.disconnected {
    color: var(--app-error);
}

tr {
    border-bottom: 1px solid var(--app-border);
}

th {
    padding-right: 20px;
}

.connection-status-header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid var(--app-border);

}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
}

.pagination span {
    margin: 0 10px;
    line-height: 2;
}